@use 'variables' as v;
.btn{
    background-color: v.$primaryColor;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 33px;
    &__box{
        position: relative;
    }
    &__shadow{
        width: 60px;
        height: 60px;
        background-color: v.$primaryColor3;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        z-index: -1;
    }
    &:active{
        transform: translateY(5px);
    }
}